<div class="grid" data-layout="50-50">
  <div class="wrapper flow prose">
    <h3>Web Design</h3>
    <p>
      We love building websites. You're running an amazing business, and your place on the web should represent your
      awesome-ness.
    </p>
    <p>
      If you're interested in web design or us building you a new site or landing page, we are extremely flexible. We can fit
      our services into whatever your needs might be including:
    </p>
    <ul class="flow flow-space-xs mt-xl">
      <li>add content or make tweaks to your existing tech</li>
      <li>create new pages or separate landing pages to push traffic to</li>
      <li>build a high performance site with
        <a href="https://astro.build">Astro</a>
        or
        <a href="http://11ty.dev">Eleventy</a>
        keeping your existing design</li>
      <li>start from the ground up with a fresh design and a 🔥⚡ new site</li>
    </ul>
    <p>
      We'll figure out your exact needs on our first call, make 1 or 2 iterations on those, and the process begins!
    </p>
  </div>
  <div class="wrapper self-center">
    {% image "./src/images/web-design.jpg", "A macbook pro with Airtable in the browser" %}
  </div>
</div>
<div class="grid" data-layout="50-50">
  <div class="wrapper self-center">
    {% image "./src/images/data.jpg", "A macbook pro with Airtable in the browser" %}
  </div>
  <div class="wrapper flow prose grid-end">
    <h3>Data Management</h3>
    <p>
      You might be in the situation we've found ourselves in before. You have customer data, but it's in many different apps
      or places. We can help with a database solution.
    </p>
    <p>
      We'll look at implementing a main data source that all your apps can get correct data from.
    </p>
    <ul class="flow flow-space-xs mt-xl list-none">
      <li>
        <span class="font-bold">Planning</span>
        - First, we'll have a call to look at how you're organized now and where the pain points are.</li>
      <li>
        <span class="font-bold">Analyze</span>
        - Now that we know what you're working with we can see if there are solutions that might be more efficient / easier for
        you to manage and make recommendations</li>
      <li>
        <span class="font-bold">Design</span>
        - We come up with the general design of your data structure (what software engineers call a "schema") and present you
        with our plan</li>
      <li>
        <span class="font-bold">Implementation</span>
        - Lastly we build and integrate the systems</li>
    </ul>
    <p>
      Once built, we'll show you how the systems work and run a test period. During the test period we hunt down 🐛s and make
      sure things work as expected.
    </p>
  </div>
</div>
<div class="grid" data-layout="50-50">
  <div class="wrapper flow prose">
    <h3>Custom Integrations</h3>
    <p>
      As a business, there's no greater leverage than using computers to complete repetitive tasks. Computers are always on
      the clock, never forget, and can reliably perform functions to save you time & money.
    </p>
    <p>
      There exist an overwhelming number of apps businesses can use on today's internet. We can help you pick and connect the
      apps so you have reliable systems that work for you!
    </p>
    <ol class="flow flow-space-xs mt-xl">
      <li>Data systems like
        <a href="https://www.airtable.com/">Airtable</a>
      </li>
      <li>Communication tools like
        <a href="https://www.textmagic.com/">TextMagic</a>
      </li>
      <li>Accounting / Payment software like
        <a href="https://quickbooks.intuit.com/">Quickbooks</a>
      </li>
      <li>Many others.  If you have a need, there is likely software for it</li>
    </ol>
    <p>
      We can integrate these tools creating custom workflows. When you do something in one tool, data is sent to another tool
      so it can do something. Workflows are powerful, and can save your business a great deal of time and effort.
    </p>
  </div>
  <div class="wrapper self-center">
    {% image "./src/images/app-integration.jpg", "A macbook pro with Airtable in the browser" %}
  </div>
</div>
