{% set assetHash = global.random() %}
{% set headTitle = 'Santa Barbara Web Development | Fat Kitten Dev' %}
{% set desc = 'Looking for expert web and software development in Santa Barbara? Fat Kitten Development provides custom software solutions for businesses in Santa Barbara, CA and beyond. Contact us today to learn more about how we can help your business thrive with our professional software development services.' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css?{{ assetHash }}">
    <title>{{ headTitle }}</title>
    <meta name="description" content="{{ desc }}"/>
    <link rel="canonical" href="{{ page.url }}"/>
    <meta name="robots" content="index, follow"/>
    <meta property="og:title" content="{{ headTitle }}"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:description" content="{{ desc }}"/>
    <link rel="manifest" href="/favicons/manifest.webmanifest">
    <link rel="icon" href="/favicons/favicon.ico" size="any">
    <link rel="icon" href="/favicons/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
  </head>
  <body>
    {% block content %}{% endblock %}
    {# <script src="./js/formSubmit.js"></script> #}
  </body>
</html>
