{% extends "layouts/base.njk" %}
{% block content %}
  <main class="spot-color-dark test">
    <div class="flow section section__inner thank-you">
      {{ content | safe }}
      <a href="/">Back to Home</a>
    </div>
  </main>
{% endblock %}
