.thank-you {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 0;
  padding-inline: var(--space-m);
}

.thank-you a {
  width: max-content;
  padding: var(--space-m);
}


.thank-you a:hover, .thank-you a:focus {
  text-decoration: underline;
  color: var(--color-secondary-glare);
  border: dashed 1px var(--color-secondary);
}
